@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400&family=Nunito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Noto Sans Thai', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.nav_list {
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: linear-gradient(-180deg, #000000, #150050, #3F0071, #FB2576);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 240px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sidebar .logo_content .logo {
    color: whitesmoke;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 50px;
    margin-right: 5px;
}

ul li i {
    font-size: 20px;
}

.logo_content .logo .logo_name {
    font-size: 50px;
    font-weight: 400;
}

.sidebar #btnTab {
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar #btnTab:hover {
    border-radius: 50px;
    background: rgba(128, 128, 128, 0.13);
}

.sidebar.active #btnTab {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
}

.sidebar .link_name {
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.active .link_name {
    pointer-events: auto;
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 50px;
    top: 50%;
    width: 100px;
    height: 35px;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 150%;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}


.sidebar ul li a:hover {
    color: white;
    background: linear-gradient(-45deg, #3120E0, #3B9AE1, #21E1E1, #F0EABE);
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    overflow: auto;
    background-size: 400% 400%;
}

.sidebar.active~.home_content {
    width: calc(100% - 240px);
    left: 240px;
}

#resulte-predict {
    font-size: 4rem;
    color: black;
}