@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.gradien {
    background: linear-gradient(-45deg, #3120E0, #3B9AE1, #21E1E1, #F0EABE);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* height: 100vh; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}